version: '3.8'

services:
  mysql:
    image: mysql:5.7
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: dreamvacations
      MYSQL_USER: admin
      MYSQL_PASSWORD: 1234
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    image: kuzan0069/backend:latest
    container_name: backend
    depends_on:
      - mysql
    env_file:
      - ./backend/.env
    ports:
      - "3001:3001"


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: http://backend:3001
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql_data:
